<%= render 'shared/navbar' %>
<%= render 'shared/footer' %>
<div class="container">
  <h3 class='acceuil'>Prise de rendez-vous</h3>

  <div class="container">
    <%= simple_form_for @appointement do |f| %>
      <%= f.input :day, collection: [(Date.today + 1).day,(Date.today + 2).day, (Date.today + 3).day],
                         label: "Choisissez le jour du rendez-vous"  %>
      <%= f.input :hour, collection: Appointement::WORKING_HOUR,
                        label: "Choisissez l'heure du rendez-vous" %>
      <%= f.button :submit, 'Soumettre !',  class: "btn btn-primary wide-btn" %>
    <%end %>
  </div>
</div>
